.row {
  max-width: 100% !important;
}
#filters {
  display: none;
}
.summed {
  background-color: yellow !important;
}
.sum-counter {
  position: fixed;
  bottom: 0;
  right:10px;
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
  border: 1px solid #999;
}
#page-header .actions .summary,
#page-header .actions .next-week-report,
#page-header .actions .heat-map {
  float: left;
  margin-right: 10px;
}